.portfolio__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding-bottom: 4rem;
}
.portfolio__card{
    padding: 1.3rem;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__card h4{
    font-size: 0.8rem;
    color: var(--color-white);
    font-weight: 300;
    
}
.portfolio__card:hover{
    background: transparent;
    border: 1px solid var(--color-primary-variant);
}

.portfolio__image{
    overflow: hidden;
}
.portfolio__card h3{
    margin: 1.2rem 0 0 0;
}
.portfolio__card span{
    color: var(--color-white);
    font-weight: 500;
    font-style: italic;
}

.portfolio__buttons{
    display: flex;
    flex-wrap:  wrap;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;

}

.portfolio__btn{
    width: max-content;
    display: inline-block;
    color: var(--color-white);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 2px solid var(--color-primary);
    transition: var(--transition);
}
.portfolio__btn:hover{
    outline: rgba(32, 99, 132, 0.5) solid 4px;
}

.portfolio__btn-primary{
    background: var(--color-primary);
    color: var(--color-white);
}

/*================================= Responsive ==========================*/

/*===================Media Medium ============*/
@media screen and (max-width: 1024px){
   .portfolio__container{
       grid-template-columns: 1fr 1fr;
       gap: 1.2rem;
   }
 }
 
 /*===================Media Small ============*/
 @media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
    }

 }
 